@model IEnumerable<ProjectForDotNet.Models.Transport>

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Transports which are available now!</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Transports which are available now!</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<br />
<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Category</td>
                    <td>Producer</td>
                    <td>Price (tenge)</td>
                    <td>Weight</td>
                    <td>Capacity</td>
                    <td>Max speed</td>
                    <td>Description</td>
                    <td>Image</td>
                    <td>Buy!</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Producer)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Price)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.MaxSpeed)
                    </th>
                    <th><h6>
                        @Html.DisplayFor(modelItem => item.Description)
                    </h6></th>
                    <td><img src="@Html.Raw(@Html.DisplayFor(modelItem => item.ImageUrl))" width='200' height='200'></td>
                    <td><a href="/Home/Buy/@Html.DisplayFor(modelItem => item.TransportId)">Buy now!</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->